/** @format */

.body {
	display: flex;
	flex-direction: column;
	border: 0.5px solid black;
	max-width: 500px;
	margin: 5vh auto;
	height: 90vh;
	box-sizing: border-box;
}

.screen {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: 300px;
	font-size: 1.5rem;
	background-color: rgb(253, 249, 249);
}
.btns {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 70%;
}

.btn {
	background-color: rgb(218, 214, 214);
	width: 25%;
	font-size: 3rem;
	font-weight: 300px;
	outline: none;
	border: 0.1px solid rgb(92, 90, 90);
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}
.btn:active {
	top: 2px;
}
