/** @format */

body {
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
:root {
	background: #283048; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#859398,
		#283048
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#859398,
		#283048
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-size: 62.5%;
}
* {
	box-sizing: border-box;
	font-family: Lato;
	margin: 0;
	padding: 0;
	color: rgba(27, 26, 27, 0.93);
}
